@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    margin: 0;
    font-family: Roboto;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    padding: 0 121px;
    box-sizing: border-box;
}

.photo_1 {
    width: 112px;
    margin-top: 21px;
}

.container_icon {
    display: flex;
    width: 50%;
    font-size: 20px;
    margin-top: 97px;
    list-style-type: none;
    padding: 0;
}

.icon_photo {
    margin-right: 25px;
}

span {
    text-align: center;
}

.top_container {
    display: flex;
    padding: 0 121px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.top_text {
    font-size: 20px;
}

h1 {
    font-family: 'roboto slab';
    font-size: 80px;
    margin-bottom: 0;
}

.top-text2 {
    font-size: 20px;
}

.top_directed {
    margin: 0 auto;
}

.section {
    background: #1E4681;
    color: white;
    max-width: 484px;
    margin: 70px auto 170px auto;
    /* display: flex;
    flex-direction: column; */
    padding: 15px;
    border-radius: 2.89583px;
    box-sizing: border-box;
}

.selection_text-1 {
    font-family: Roboto Slab;
    font-size: 25px;
    margin: 0;
}

.author-1 {
    font-size: 20px;
    text-align: right;
    margin-top: 10px;
}

h2 {
    font-size: 55px;
    margin: 0;
}

.operator {
    padding: 0 121px;
    box-sizing: border-box;
}

.operator_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.operator_text {
    max-width: 662px;
}

.operator_text-2 {
    font-size: 24px;
}

.operator_photo {
    max-width: 314px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0 121px;
    flex-wrap: wrap;
}

.menu {
    margin: 0 45px;
    max-width: 150px;
    
}

.photo_7 {
    margin-right: 85px;
}

.menu-1 {
    font-size: 25px;
    font-weight: 700;
}

.menu_text {
    font-size: 18px;
}


/* 3. Block lesson format */

.lesson_format {
    margin-top: 90px;
    padding: 0 121px;
    box-sizing: border-box;
}

.lesson_format h2 {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-bottom: 115px;
}

.info_lesson_format {
    max-width: 974px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item_info {
    width: 30%;
    margin-bottom: 15px;
}

.item_info h3 {
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #1E4681;
    margin: 0;
}

.item_info p {
    font-size: 18px;
    margin: 0;
}


/* 4. Block What learn */

.what_learn {
    margin-top: 90px;
    padding: 0 121px;
    box-sizing: border-box;
}

.what_learn h2 {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-bottom: 57px;
}

.info_what_learn {
    max-width: 678px;
    font-size: 24px;
    line-height: 150%; 
    margin-left: 22px;
    padding: 0;
}


/* Программа курса */

.courseProgramm {
    width: 96%;
    margin: 90px auto;
}

.courseProgramm__title {
    margin: 0 auto 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courseProgramm__title h2 {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    font-size: 55px;
    font-weight: 800;
    padding-left: 90px;
}

.courseProgramm__blackline {
    width: 32%;
    background-color: black;
}

.courseProgramm img {
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}

.courseProgramm__sections {
    display: flex;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
    padding: 20px;
}

.text-info {
    padding: 20px;
    font-size: 25px;
    margin: 0;
}

.text-info p {
    margin-top: 10px;
}

.courseProgramm__sections h3 {
    font-size: 30px;
    padding: 10px 0 7px 0;
    margin: 0;
}

.courseProgramm__programm-block {
    margin: 10px;
    width: 30%;
    height: 32%;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.courseProgramm__lastBlock h3 {
    margin: 0;
}

.last-block {
    margin: 0;
}

.courseProgramm__man-computer img {
    width: 253px;
    height: 199px;
    position: absolute;
    margin: 245px 0 0 110px;
}

.man-computer-puddle {
    position: relative;
    background-color: #EFEFEF;
    width: 232px;
    height: 32px;
    border-radius: 100%;
    z-index: -1;
    top: 430px;
    left: 90px;
}

.course_passed {
    background-color: #EFEFEF;
    padding: 122px;
}

.course_passed__header {
    font-size: 55px;
    margin: 0 0 35px 0;
}

.course_passed__user {
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 40px;
    max-width: 700px;
}

.course_passed__user_text {
    font-size: 20px;
    line-height: 30px;
}

.course_passed__user_add {
    display: flex;
}

.course_passed__circle_avatar {
    width: 190px;
    height: 169px;
}

.course_passed__name {
    font-size: 30px;
    font-weight: bold;
    padding-left: 30px;
}

.course_passed__facebook {
    width: 32px;
    height: 31px;
    padding-left: 30px;
}

.course_start {
    padding: 122px;
    width: 83%;
    margin: 0 auto;
    background: #9DC9C8;
}

.course_start__header {
    font-size: 55px;
    font-weight: bold;
    font-style: normal;
    line-height: 101.38%;
    margin: 0 0 54px 0;
}

.course_start__cost {
    font-size: 25px;
    margin: 0;
}

.course_start__cost_value {
    font-size: 80px;
    margin: 0;
    margin-bottom: 75px;
}

.course_start__content {
    display: flex;
    padding-bottom: 185px;
}

.course_start__content_title {
    padding-right:70px;
    width:21%;
}

.course_start__content_subtitle {
    font-size: 25px;
    margin: 0;
}

.course_start__content_text {
    font-size: 18px;
}


/* FOOTER */

footer {
    background-color: black;
    padding: 50px 147px 40px 121px;
}

.footer_info_contacts {
    display: flex;
    justify-content: space-between;
}

.footer_info_logo {
    width: 115px;
    margin-bottom: 18px;
}

.footer_info_messeger img {
    width: 30px;
    margin-right: 36px;
    margin-bottom: 18px;
}

.footer_copyright {
    margin-top: 146px;
    color: white;
    font-size: 18px;
    line-height: 101.38%;
}

.tele,
.mail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.tele img {
    width: 27px;
    height: 27px;
    margin-right: 22px;
}

.mail img {
    width: 27px;
    height: 18px;
    margin-right: 22px;
}

.contacts p {
    font-size: 25px;
    line-height: 101.38%;
    color: white;
    margin: 0;
}

@media (min-width: 992px) and (max-width: 1279px) {
    header {
        padding: 0 70px;
    }
    .photo_1 {
        width: 65px;
        height: 38px;
        top: 22px;
    }
    .container_icon {
        font-size: 12px;
        margin-top: 57px;
        font-family: roboto;
        font-weight: 700;
        padding: 0;
    }
    h1 {
        font-family: Roboto Slab;
        font-size: 46px;
        font-weight: 700;
    }
    .top-text2 {
        font-size: 12px;
    }
    .top_container {
        padding: 0 70px;
    }
    .top_directed_photo {
        width: 176px;
    }
    
    .selection {
        max-width: 225px;
    }
    
    .selection_text-1 {
        font-family: Roboto Slab;
        font-size: 14px;
    }
    .author-1 {
        font-size: 12px;
    }
    h2 {
        font-family: Roboto Slab;
        font-size: 32px;
        font-weight: 700;
    }
    .operator_text-2 {
        font-size: 14px;
    }
    .operator_photo {
        width: 182px;
    }
    .photo_7 img {
        width: 134px;
    }
    .operator {
        padding: 0 70px;
    }
    .container {
        padding: 0 70px;
    }

    .menu {
        margin: 0 20px;
    }

    .menu-1 {
        font-weight: 700;
        font-size: 15px;
    }
    .menu_text {
        font-size: 11px;
    }
    .lesson_format {
        padding: 0 70px;
    }
    .lesson_format h2,
    .courseProgramm .courseProgramm__title h2 {
        font-size: 32px;
        margin-bottom: 53px;
    }
    .info_lesson_format {
        max-width: 564.11px;
    }
    .courseProgramm .courseProgramm__title h2 {
        padding-left: 50px;
    }
    .courseProgramm .courseProgramm__sections h3 {
        font-size: 20px;
    }
    .courseProgramm .courseProgramm__sections p {
        font-size: 14px;
        padding: 10px 0 7px 0;
    }
    .item_info h3 {
        font-size: 15px;
    }
    .item_info p {
        font-size: 11px;
    }
    footer {
        padding: 29px 100px 29px 71px;
    }
    .footer_info_logo img {
        width: 67px;
    }
    .footer_info_messeger img {
        width: 19px;
        margin-right: 11px;
        margin-bottom: 6px;
    }
    .footer_copyright {
        margin-top: 85px;
        font-size: 10px;
    }

    .tele, .mail {
        margin-bottom: 14px;
    }
    
    .tele img {
        width: 15.6px;
        height: 15.6px;
        margin-right: 13px;
    }
    
    .mail img {
        width: 15.6px;
        height: 10.4px;
        margin-right: 13px;
    }

    .contacts p {
        font-size: 14px;
        margin: 0;
    }
    .what_learn {
        padding: 0 70px;
    }
    .what_learn h2 {
        font-size: 32px;
        margin-bottom: 33px;
    }
    .info_what_learn {
        max-width: 393px;
        font-size: 14px;
        margin-left: 16px;
    }
    .course_passed {
        padding: 80px;
    }
    .course_passed__header {
        font-size: 32px;
        margin: 0 0 35px 0;
    }
    .course_passed__user {
        box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
    }
    .course_passed__user_text {
        font-size: 12px;
        line-height: 150%;
    }
    .course_passed__user_add {
        display: flex;
    }
    .course_passed__circle_avatar {
        width: 110.04px;
        height: 97.88px;
    }
    .course_passed__name {
        font-size: 17px;
        font-weight: bold;
        padding-left: 17.38px;
    }
    .course_passed__facebook {
        width: 18.53px;
        height: 17.95px;
        padding-left: 17.38px;
    }
    .course_start {
        padding: 80px;
        width:100%;
        margin: 0 auto;
        background: #9DC9C8;
    }
    .course_start__header {
        font-family: 'Roboto Slab', serif;
        font-size: 32px;
        font-weight: 700;
        font-style: normal;
        line-height: 101.38%;
        width: 100%;
        margin: 0 0 31.27px 0;
    }
    .course_start__cost {
        font-size: 14px;
        margin: 0;
    }
    .course_start__cost_value {
        font-size: 46px;
        margin: 0;
        margin-bottom: 75px;
    }
    .course_start__content {
        display: flex;
    }
    .course_start__content_title {
        width:21%;
    }
    .course_start__content_subtitle {
        font-size: 14px;
        margin: 0;
    }
    .course_start__content_text {
        font-size: 10px;
    }
}

@media (max-width: 992px) {
    header {
        padding: 0 35px;
    }

    .top_container {
        padding: 0 35px;
    }

    .photo_1 {
        width: 52px;
        top: 36px;
    }
    .container_icon {
        font-size: 10px;
        margin-top: 45px;
        font-family: roboto;
        font-weight: 400;
        padding: 0;
    }

    .icon_photo img {
        width: 10px;
    }
    h1 {
        font-family: Roboto Slab;
        font-size: 37px;
        font-weight: 700;
    }

    .top_text {
        width: 100%;
    }
    .top-text2 {
        font-size: 10px;
     }

    .top_directed_photo {
        width: 142px;
    }
    
    .section {
        max-width: 225px;
        margin: 50px auto;
    }

    .selection_text-1 {
        font-family: Roboto Slab;
        font-size: 11px;
    }
    .author-1 {
        font-size: 10px;
    }
    h2 {
        font-family: Roboto Slab;
        font-size: 26px;
        font-weight: 700;
    }
    .operator_text-2 {
        font-size: 12px;
    }
    .operator_photo {
        width: 146px;
        margin: 0 auto;
    }

    .photo_7 {
        margin: 0;
    }

    .photo_7 img {
        display: none;
        
    }
    .operator {
        padding: 0 35px;
        display: flex;
        flex-wrap: wrap;
       
    }
    .operator_text {
        font-size: 18px;
    }

    .operator_text-2 {
        width: 100%;
    }
    
    .container {
        margin: 0;
        padding: 0 35px;
    }

    .menu {
        padding: 0;
        margin: 0;
        align-items: flex-start; 
    }

    .menu-1 {
        font-weight: 700;
        font-size: 12px;
        /* align-items: flex-start; */
    }
    .menu_text {
        font-size: 10px;
    }
    .mainContainer {
        max-width: 394px;
        min-width: 340px;
    }
    .synchronization-logo {
        width: 52.19px;
        height: 30.75px;
    }
    .lesson_format {
        padding: 0 35px;
    }
    .lesson_format h2 {
        font-size: 26px;
        margin-bottom: 23px;
    }
    .info_lesson_format {
        flex-direction: column;
        max-width: 180px;

    }
    .item_info {
        width: 100%;
        margin-bottom: 23px;
    }
    .item_info h3 {
        font-size: 12px;
    }
    .item_info p {
        font-size: 10px;
    }
    .howToWatch {
        display: block;
    }
    .head-info {
        padding-top: 35px;
    }
    .head-info p {
        font-size: 10px;
        padding: 2px 0 0 5px;
    }
    .head-info__block {
        padding-left: 14.5px;
    }
    .head-info__block img {
        width: 12.74px;
        height: 12.74px;
    }
    .text-info {
        font-size: 12px;
    }
    .text-info h3 {
        font-size: 18px;
    }
    .courseProgramm .courseProgramm__sections {
        display: block;
        flex-direction: column;
        width: 100%;
        padding: 0 0 0 0;
        width: 100%;
    }
    .courseProgramm__title h2 {
        font-size: 26px;
        padding-left: 35px;
    }
    .what_learn {
        padding: 0 35px;    
    }
    .what_learn h2 {
        font-size: 26px;
        margin-bottom: 26px;
    }
    .info_what_learn {
        max-width: 307px;
        font-size: 12px;
        margin-left: 15px;
    }
    .courseProgramm .courseProgramm__sections .courseProgramm__programm-block {
        margin: 0 auto 25px auto;
        width: 70%;
    }
    .courseProgramm__man-computer {
        display: none;
    }
    .course_passed {
        padding: 40px;
    }
    .course_passed__header {
        font-size: 26px;
        margin: 0 0 11px 0;
    }
    .course_passed__user {
        box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
    }
    .course_passed__user_text {
        font-size: 10px;
        line-height: 15px;
    }
    .course_passed__user_add {
        display: flex;
    }
    .course_passed__circle_avatar {
        width: 80px;
        height: 84px;
    }
    .course_passed__name {
        font-size: 14px;
        font-weight: bold;
        padding-left: 17.38px;
    }
    .course_passed__facebook {
        width: 18.53px;
        height: 17.95px;
        padding-left: 13.63px;
    }
    footer {
        padding: 23px 35px;
    }
    .footer_info_contacts {
        display: block;
    }
    .footer_info_logo img {
        width: 54px;
    }
    .footer_info_messeger img {
        width: 15px;
        margin-right: 8px;
    }
    .contacts {
        margin-top: 48px;
    }

    .tele img {
        width: 12px;
        height: 12px;
        margin-right: 10px;
    }
    
    .mail img {
        width: 12px;
        height: 9px;
        margin-right: 10px;
    }
    .contacts p {
        font-size: 14px;
    }
    .footer_copyright {
        margin-top: 48px;
        font-size: 10px;
    }

    .tele, .mail {
        margin-bottom: 9px;
    }

    .course_start {
        padding: 40px;
        width: 89%;
        margin: 0 auto;
        background: #9DC9C8;
    }
    .course_start__header {
        font-size: 26px;
        font-style: normal;
        line-height: 101.38%;
        margin: 0 0 22.33px 0;
        font-weight: 700;
        width: 100%;
    }
    .course_start__cost {
        font-size: 12px;
        margin: 0;
    }
    .course_start__cost_value {
        font-size: 37px;
        margin: 0;
        margin-bottom: 72.33px;
    }
    .course_start__content {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0;
    }
    .course_start__content_title {
        width:46%;
        padding: 0px;
    }
    .course_start__content_subtitle {
        font-size: 12px;
        margin: 0;
    }
    .course_start__content_text {
        font-size: 10px;
    }
}