@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: Roboto;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.lesson_format {
    padding: 0 121px;    
}

.lesson_format h2 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
}

.info_lesson_format {
    display: flex;
    justify-content: flex-start;
}

.item_info {
    width: 26%;
    padding-right: 5%;
    box-sizing: border-box;
}

.item_info h3 {
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #1E4681;
    margin: 30% 0 1% 0;
}

.item_info p {
    font-size: 18px;
    margin: 0;
}

